NODE_ENV=production
PORT=3000

# InsForge
INSFORGE_BASE_URL=https://acfzi5wy.ap-southeast.insforge.app
INSFORGE_ANON_KEY=
INSFORGE_STORAGE_BUCKET=uploads

# Dokploy API utility, isi manual di Dokploy dashboard.
DOKPLOY_ADMIN_TOKEN=
